@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  text-align: center;
  background-image: url("./images/blue-ocean.jpg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  width: 70%;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid grey;
  font-family: "Catamaran", sans-serif;
  color: navy;
  padding: 10px 20px;
}

.question-card {
  padding: 10px;
}

.question {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  color: black;
  background-color: white;
}

.answers,
.correct,
.wrong {
  padding: 2px;
  color: white;
  margin-bottom: 5px;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}

.answers {
  background-color: rgb(48, 164, 231);
}

.answers:hover {
  background-color: rgb(144, 209, 247);
}

.correct {
  background-color: rgb(131, 243, 131);
}

.wrong {
  background-color: rgb(247, 132, 132);
}
